<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
  <div class="my-3 border-bottom">
    <div>
      <h4>비밀번호 변경</h4>
    </div>
  </div>

  <!-- 성공 메시지를 표시 -->
  <div id="successMessage" th:if="${data}" class="alert alert-success">
    <p th:text="${data.message}"></p>
  </div>

  <!-- 폼을 동적으로 숨기고 표시 -->
  <div id="formContainer" th:unless="${data}">
    <form th:action="@{/user/password/reset}" th:object="${passwordResetForm}" method="post">
      <div th:replace="~{form_errors :: formErrorsFragment}"></div>
      <div class="mb-3">
        <label for="currentPassword" class="form-label">현재 비밀번호</label>
        <input type="password" th:field="*{currentPassword}" class="form-control">
      </div>
      <div class="mb-3">
        <label for="newPassword" class="form-label">변경할 비밀번호</label>
        <input type="password" th:field="*{newPassword}" class="form-control">
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">비밀번호 확인</label>
        <input type="password" th:field="*{confirmPassword}" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">변경하기</button>
    </form>
  </div>
</div>

<script>
  // 성공 메시지가 표시될 때 폼을 숨기고, 성공 메시지를 보여준다.
  var successMessage = document.getElementById("successMessage");
  var formContainer = document.getElementById("formContainer");

  if (successMessage) {
    formContainer.style.display = "none";
  }
</script>
</html>
