<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
  <section>
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://i.ibb.co/phncNRJ/image.png"
                 alt="image" class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3" th:text="${username}"></h5>
          </div>
        </div>
      </div>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="base-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">기본정보</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">비밀번호 변경</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">프로필 이미지 변경</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <!-- "기본정보" 탭 내용 -->
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">계정 설정</h5>
                <form action="/user/settings" method="post">
                  <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
                  <div class="form-group">
                    <label for="introduction">한 줄 소개</label>
                    <input type="text" class="form-control" id="introduction" name="introduction" th:value="${introduction}" placeholder="한 줄 소개를 입력하세요">
                  </div>
                  <button type="submit" class="btn btn-primary">저장</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="password-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="profile-tab">...</div>
      </div>

    </div>
  </section>
</div>
</div>
<script layout:fragment="script" type='text/javascript'>
</script>
</html>
